.main-container-login, .form-container-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-container-login {
  height: 100vh;
}

.form-container-login input {
  border: none;
  border-bottom: 1px solid gray;
  margin: 5px;
}

.form-container-login button {
  background-color: rgb(82, 91, 218);
  border: none;
  border-radius: 5px;
  color: white;
  margin: 25px 0;
  padding: 8px 24px;
}

.form-container-login button:hover {
  background-color: rgb(67, 74, 173);
  cursor: pointer;
}

.form-container-login button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
