.container-profile-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container-profile-content h4 {
  color: white;
  margin: 20px;
}

.nav-container-profile-buttons {
  display: flex;
  flex-direction: column;
}

.nav-container-profile-buttons button {
  background-color: rgb(255, 174, 0);
  border: none;
  border-radius: 10px;
  margin: 10px;
  padding: 8px 24px;
}
