.page-container {
  min-height: max-content;
}

.header-image {
  width: 100%;
}

.header-recipe-details h2 {
  background-color: rgb(255, 174, 0);
  border: none;
  color: black;
  display: flex;
  justify-content: center;
  margin: 0;
}

.header-info-container {
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: space-around;
}

.header-recipe-details h5 {
  color: white;
}

.fav-share-bttn {
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.recipe-buttons-start-finish {
  display: flex;
  flex-direction: column;
}

.start-recipe-btn, .finish-btn {
  background-color: rgb(255, 174, 0);
  border: none;
  border-radius: 10px;
  color: black;
  margin: 15px;
  padding: 6px;
}

.instruction-paragraph p {
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgb(255, 174, 0);
  border-radius: 15px;
  color: white;
  margin: 15px;
  padding: 5px;
}

.recomended-container {
  height: 205px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100vw;
}

.recomended-container a {
  display: inline-block;
  height: max-content;
  margin: 5px;
  width: 178px;
}

.recipe-video iframe {
  align-items: center;
  background-color: black;
  border-radius: 15px;
  display: inline-block;
  margin-left: 6%;
  padding: 10px;
}
