.header-image {
  border: 10px solid black;
  border-radius: 5%;
  width: 100%;
}

.header-recipe-details h2 {
  background-color: black;
  border: none;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 8px;
}

.header-recipe-details h5 {
  background-color: rgb(70, 70, 70);
  border: none;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  padding: 5px;
}

.recomended-container {

  /*   display: flex; */
  margin-bottom: 35px;
  overflow-x: scroll;
  white-space: nowrap;
  width: 100vw;
}

.recomended-container a {
  display: inline-block;
  margin: 5px;
  width: 178px;
}

.fav-share-bttn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.start-recipe-btn {
  background-color: black;
  border-radius: 10px;
  bottom: 0;
  color: white;
  left: 135px;
  padding: 6px;
  position: fixed;
}
