main {
  background-color: whitesmoke;
}

.instruction-paragraph p {
  background-color: rgb(199, 199, 199);
  border-radius: 15px;

  /* font-family: monospace , Calibri , sans-serif; */
  margin: 15px;
  padding: 5px;
}

.header-image {
  border: 10px solid black;
  border-radius: 0% 0% 5% 5%;
  width: 100%;
}

.header-recipe-details h2 {
  background-color: black;
  border: none;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 8px;
}

.header-recipe-details h5 {
  background-color: rgb(199, 199, 199);
  border: none;
  border-radius: 10px;
  color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  padding: 5px;
}

.recomended-container {

  /* display: flex; */
  margin-bottom: 35px;
  overflow-x: scroll;
  white-space: nowrap;
  width: 100vw;
}

.recomended-container a {
  display: inline-block;
  margin: 5px;
  width: 178px;
}

.fav-share-bttn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.start-recipe-btn {
  background-color: black;
  border-radius: 10px;
  bottom: 0;
  color: white;
  left: 135px;
  padding: 6px;
  position: fixed;
}

.finish-btn {
  background-color: black;
  border-radius: 10px;
  bottom: 0;
  color: white;
  display: flex;
  left: 135px;
  padding: 6px;
}

.recipe-video iframe {
  align-items: center;
  background-color: black;
  border-radius: 15px;
  display: inline-block;
  margin-left: 6%;
  padding: 10px;
}

.recipe-buttons-start-finish {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

