.footer-container {
  align-items: center;
  background-color: rgb(221, 221, 221);
  bottom: 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footer-container button {
  margin: 7px;
}
