.footer-container {
  align-items: center;
  background-color: black;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footer-container button {
  background-color: black;
  border: none;
  margin: 7px;
}

.footerbttn1 img {
  filter: invert();
}

.footerbttn2 img {
  filter: invert();
}
