.card-container {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid rgb(255, 174, 0);
  border-radius: 13px;
  color: white;
  display: flex;
  height: max-content;
  margin: 15px;
}

.image-container {
  align-items: center;
  display: flex;
}

.image-container img {
  border-radius: 13px;
  margin: 5px;
  width: 150px;
}

.item-container a {
  color: rgb(255, 174, 0);
}

