.card-container {
  background-color: rgba(92, 89, 89, 0.291);
  border: 1px solid black;
  border-radius: 13px;
  display: flex;
  height: max-content;
  margin: 15px;
}

.image-container img {
  border-radius: 13px;
  margin: 5px;
  width: 150px;
}

