.ingredients-recipe-section h4 {
  color: white;
  margin: 15px 0 0;
  text-align: center;
}

.ingredients-recipe-section {
  display: flex;
  flex-direction: column;
}

.ingredients-recipe-section ul li {
  color: white;
  margin: 0 10px;
}

.selected {
  text-decoration: none solid black;
}
