.all-food-drinks-bttn {
  align-content: space-between;
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 8px;
}

.all-bttn {
  align-items: baseline;
  background-color: black;
  border-radius: 15px;
  color: white;
  height: 35px;
  width: 80px;
}

.foods-bttn {
  align-items: baseline;
  background-color: black;
  border-radius: 15px;
  color: white;
  height: 35px;
  width: 80px;
}

.drinks-bttn {
  align-items: baseline;
  background-color: black;
  border-radius: 15px;
  color: white;
  height: 35px;
  width: 80px;
}
