.all-food-drinks-btn {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.all-btn-filter, .foods-btn-filter, .drinks-btn-filter {
  background-color: rgb(255, 174, 0);
  border: none;
  border-radius: 15px;
  color: black;
  margin: 10px;
  padding: 4px 24px;
}
